[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=kafka
ExecStart=/bin/sh -c '/var/kafka/bin/kafka-server-start.sh /var/kafka/config/server.properties > /var/kafka/kafka.log 2>&1'
ExecStop=/var/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
